In [4]:
from GradientBoostedClassifier import GBC
import pandas as pd
import numpy as np

In [8]:
from sklearn.datasets import make_classification

X, y = make_classification(
    n_samples=1500,         # 1000 samples
    n_features=10,           # 4 features total
    n_informative=3,        # 3 features are informative
    n_redundant=0,          # No redundant features
    n_classes=2,           # Binary classification
    n_clusters_per_class=2, # 2 clusters per class
    flip_y=0.05,           # 5% label noise for realism
    class_sep=1.5,         # Moderate class separation
    random_state=42        # Reproducibility
)

df = pd.DataFrame(X)
df['y'] = y

df.head()

,0,1,2,3,4,5,6,7,8,9,y
0,-0.300536,1.491166,-2.124027,-0.690013,0.985948,-2.302035,-0.288034,-0.375825,1.678574,0.266976,0
1,-0.989155,0.256685,0.046682,1.280352,-0.151299,1.732547,1.425990,1.202888,0.112637,-0.413810,1
2,0.162223,0.709114,-0.149878,1.112292,-0.601897,-0.629796,-2.336750,-2.687347,-0.918616,-1.635290,0
3,-0.476551,0.125887,-1.641380,0.012224,0.983852,-1.224387,1.483768,-1.620416,-0.893595,-1.304589,0
4,1.433833,0.656929,1.142207,1.157245,-0.788048,1.584638,2.092316,-1.457724,-0.343335,-1.377295,1

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
clf = GBC()
clf.fit(X_train, y_train)

preds = clf.predict(X_test)

df_fin = pd.DataFrame(X_test)
df_fin['y'] = y_test
df_fin['preds'] = preds

print(f'Accuracy: {np.mean(preds == y_test)}')

df_fin.head()

Accuracy: 0.9533333333333334

,0,1,2,3,4,5,6,7,8,9,y,preds
0,0.625111,-1.380353,0.637898,0.870060,0.706955,1.766177,1.439217,2.001752,0.566608,1.781400,1,1
1,-0.671512,1.378467,0.007363,-1.478547,-0.044361,-4.320387,1.934017,0.360923,-0.922413,-0.054778,0,0
2,0.867394,0.012576,-0.590215,-0.120497,1.295928,-1.104530,-2.009851,-2.135001,2.523373,-1.636802,0,0
3,-1.394298,-0.104551,0.409213,-0.425925,0.302962,-2.431537,0.075255,0.091163,1.922225,0.513521,0,0
4,0.970316,-0.213875,-1.270952,-0.378580,-0.103587,-1.086798,1.598784,-1.842422,0.220584,0.418760,0,0